h1{
    color: white;
    margin-left: 30px;
}

/* * {
    border: solid;
} */

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.header * {
    border: solid;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

a:link{
    color: rebeccapurple;
}   

a:visited{
    color:rebeccapurple;
}

.menu{
    margin-right: 30px;
}

.menu a{
    margin-left: 30px;
}

.item{
    position: relative;

}

.item p{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.4;
}